@import "_reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Poppins:wght@300&display=swap");
$fz: 20px;
$fw: 600;
$fw2: 400;
body {
   font-family: "Open Sans", sans-serif;
   font-family: "Poppins", sans-serif;
}
.content {
   max-width: 90%;
   padding: 20px 0 0 0;
   margin: 0 auto;
}
.header-main {
   display: flex;
}
.header-display {
   align-items: center;
   display: flex;
   height: 50px;

   .img-flex {
      flex: 0 1 50%;
   }
   .nav-flex {
      flex: 1 1 33%;
      display: flex;
      justify-content: space-evenly;
      a {
         color: #111111;
         font-size: 17px;
      }
      .nav-flex-home {
         color: #646464;
      }
      .nav-flex-signup {
         background-color: #caa892;
         padding: 5px 10px 5px 10px;
         margin: -5px;
         border-radius: 10px 0 10px 0;
         color: #ffff;
         font-size: 15px;
         font-weight: $fw2;
      }
   }
}
.aside-display {
   display: flex;
   padding: 40px 0 0 0;
}

.aside-start-text {
   margin: 60px 0 0 0;
   width: 1350px;
}

.first-text {
   font-size: $fz;
   font-weight: $fw2;
   padding: 0 490px 5px 0;
   text-transform: uppercase;
}
.second-text {
   font-size: 72px;
   font-weight: $fw;
   line-height: 78px;
   padding: 0px 100px 30px 0;
}
.third {
   font-size: $fz;
   font-weight: $fw2;
   padding: 0 60px 30px 0;
   line-height: 30px;
}
.link-contact a {
   padding: 10px 20px 10px 20px;
   border-radius: 20px 0 20px 0;
   background-color: #37806b;
   color: #ffff;
   font-weight: 700;
   text-transform: uppercase;
}
.inside {
   width: 516px;
   height: 426px;
   position: relative;
   z-index: 2;
}
.frame {
   position: relative;
   color: #caa892;
   z-index: 0;
   font-size: 20px;
   border: 2px solid;
   width: 530px;
   height: 430px;
   top: -400px;
   left: 15px;
   border-radius: 80px 0 100px 0;
   overflow: hidden;
}

.main-quarter {
   margin: -240px 0 0 0;
   .quarter-text {
      font-size: $fz;
      text-transform: uppercase;
      padding-bottom: 10px;
   }
   .quarter-text-title {
      font-size: 58px;
      padding-bottom: 20px;
   }
   .quarter-img-before,
   .quarter-img-after {
      width: 7px;
      height: 7px;
      border-top: 2px solid #717171;
      border-right: 2px solid #717171;
      margin-right: 60px;
      transform: rotate(-140deg);
      position: relative;
      top: 8px;
      left: 9px;
   }
   .quarter-img-before-border,
   .quarter-img-after-border {
      border: 1px solid rgb(255, 254, 254);
      border-radius: 50%;
      width: 25px;
      height: 25px;
      position: absolute;
      left: 1200px;
      top: 780px;
      background-color: #ffffff;
      box-shadow: 1px 1px 1px 1px #c6c4c4;
   }
   .quarter-img-after {
      transform: rotate(45deg);
      border-top: 2px solid #fffefe;
      border-right: 2px solid #ffffff;
      left: 8px;
   }
   .quarter-img-after-border {
      border: 1px solid #37806b;
      left: 1240px;
      top: 780px;
      background-color: #37806b;
      box-shadow: 1px 1px 1px 1px #37806b;
   }
}
.quarter-content {
   display: flex;
   margin: 20px 0 0 0;
   justify-content: space-between;
   padding: 0 0 20px 0;

   .quarter-block {
      border-radius: 80px 0 80px 0;
      height: 160px;
      width: 350px;
      flex-wrap: wrap;
      padding: 20px 0 0 25px;
      display: flex;
      justify-content: start;
      align-items: center;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
      &:hover {
         background-color: #caa892;
         color: #fffefe;
         transition: all 0.7s;
      }
   }
   .quarter-block-header {
      font-size: 20px;
      font-weight: 700;
      padding: 0 0 0 10px;
   }
   .quarter-block-text {
      margin: -60px 0 0 55px;
   }
}
.frame-about-us {
   left: -40px;
   top: -630px;
   height: 600px;
}
.aside-display-about-us {
   margin: 100px 0 0 0;
}
.inside-about-us {
   height: 600px;
}
.second-text-about-us {
   font-size: 50px;
}
.aside-start-text-about-us {
   margin: 0px 0 0 95px;
}
.third-about-us {
   font-size: 15px;
   font-weight: 900;
}
.first-img img {
   width: 230px;
   height: 150px;
   margin: 0 0 40px 0;
}

.aside-display-bookcase {
   margin: -500px 0 0 0;
}
.second-text {
   font-size: 57px;
   padding: 0;
}
.frame-bookcase {
   height: 600px;
   top: -580px;
   left: 20px;
}
.link-bookcase {
   padding: 80px 0 0 0;
}
.half-past-model img {
   width: 100%;

   margin: -500px 0 0 0;
}
.main-testimonials {
   display: flex;
   justify-content: space-around;
}
.block-testimonials {
   border-radius: 50px 0 50px 0;
   width: 500px;
   height: 160px;
   box-shadow: 4px 9px 23px 5px rgba(184, 182, 182, 0.89);

   margin: 10px 0 20px 0;
}
.block-testimonials img {
   width: 94px;
   height: 98px;
   border-radius: 30px 0 30px 0;
   position: relative;
   left: -40px;
   top: 40px;
}
.rubric-testimonials {
   text-align: center;
   margin: 5px 0 20px 0;
   font-size: $fz;
}
.rubric-header {
   font-size: 36px;
   font-weight: $fw;
}
span {
   font-weight: $fw;
   font-size: 20px;
   margin: 20px 0 0 -20px;
   display: inline-block;
}
.text-testimonials {
   display: inline-block;
   margin: -50px 20px 0 73px;
   font-size: 16px;
   color: #717171;
   letter-spacing: -0.5px;
   line-height: 20px;
}
.clip img {
   height: 22px;
   width: 22px;
   border-radius: 0;
   position: relative;
   top: -75px;
   left: 450px;
}
.main-letest-news {
   margin: 100px 0 0 0;
   background-color: #eae7e7;
}

.block1-letest-news {
   display: flex;
   justify-content: space-between;
}

.block-text-letest-news {
   margin: -370px 0 0 0;
   height: 250px;
}
.header-letest {
   padding: 0 0 0 20px;
   font-size: 25px;
}

.content-letest {
   font-size: 16px;
   font-weight: normal;
   padding: 0 0 60px 20px;
}
.content-letest-width {
   width: 110%;
}
.text-letest-news-margin {
   margin: 0 225px 0 0;
}
.link-continue {
   padding: 10px 20px 10px 20px;
   border-radius: 20px 0 20px 0;
   background-color: #37806b;
   color: #ffff;
   text-transform: uppercase;
}
.up-footer {
   text-align: center;
   padding: 200px 0 200px 0;
   height: 500px;
   margin: 0 auto;
}
.title__content {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   text-transform: uppercase;
   font-weight: $fw;
   font-size: 40px;
}

.title__border {
   width: 65%;
   height: 1px;
   margin: 20px 0px 40px 0px;
   background-color: rgb(172, 169, 169);
}
.up-footer-email {
   padding: 10px 20px 10px 20px;
   border-radius: 20px 0 0 0;
   background-color: #eeeeee;
   width: 60%;
   margin: 30px 0 60px 0;
   height: 41px;
}
.up-footer-link {
   border-radius: 0 0 20px 0;
}
.up-footer-text {
   padding: 0 120px 0 150px;
   width: 60%;
   margin: 0 auto;
   text-transform: ;
}
